@import url('https://fonts.googleapis.com/css2?family=Rye');
header {
  font-family: 'Rye';
  width: 100vw;
  min-width: 1000px;
  background-color: #30362F;
  height: 60px;
  color: #FFFBDB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  left: 0;
  top: 0;
  z-index: 5;
}

.nameContainer {
  margin-left: 20px;
  min-width: 280px;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nameContainer a {
  text-decoration: none;
  color: #FFFBDB
}
.nameContainer h1 {
  font-size: 28px;
  font-weight: lighter;
}
.nameContainer h1:hover {
  cursor: pointer;
}

.linksContainer {
  list-style: none;
  display:flex;
  gap: 1rem;
  margin-right: 20px;
}

.linksContainer li {
  font-weight: 300;
  text-decoration: none;
  font-size: 16px;
}
.linksContainer a {
  text-decoration: none;

  font-weight: 300;
  color: #FFFBDB
}
.linksContainer a:hover {
  cursor: pointer;
  color: #A59132;
  text-decoration: underline;
}
.linksContainer li:hover { 
  cursor: pointer;
  color: #A59132;
  text-decoration: underline;
}

