.largeBtn {
  min-height: 40px;
  border-radius: 6px;
  border: none;
  padding: 8px;
  color: #FFFBDB;
  background-color: #DA7422;
  box-shadow: 0 2px 5px .1px rgba(0, 0, 0, 0.2);
  letter-spacing: .6px;
}

.largeBtn:hover {
  box-shadow: 0 3px 5px .1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  background-color: #c2681f;
  transition: all 0.2s ease-in-out;
}

.deleteBtn {
  color: #30362F;
  background-color: #A59132;
  padding: 2px 6px;
  border: none;
  box-shadow: 0 2px 5px .1px rgba(0, 0, 0, 0.2);
  border-radius: 4px
}
.deleteBtn:hover {
  background-color: #96821f;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 3px 5px .1px rgba(0, 0, 0, 0.3);
}

.smallBtn {
  color: #30362F;
  background-color: #A59132;
  padding: 4px 6px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 5px .1px rgba(0, 0, 0, 0.2);
}
.smallBtn:hover {
  background-color: #96821f;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 3px 5px .1px rgba(0, 0, 0, 0.3);
}